## eulidence distence

In [ ]:
x1=float(input("enter the nomber :"))
x2=float(input("enter the nomber :"))
y1=float(input("enter the nomber :"))
y2=float(input("enter the nomber :"))
eul=((x2-x1)**2+(y2-y1)**2)**0.5
print("eulidence distance:",eul)

## simple interset

In [ ]:
principal=float(input("enter the nomber :"))
rate=float(input("enter the nomber :"))
time=float(input("enter the nomber :"))

si=((principal*rate*time)/100)
print("simple interset ",si)

# the sum of squares of first n natural numbers

In [ ]:
n=int(input("enter the nomber :"))
f=(n*(n+1)*(2*n+1))/6
print(f)

### Arithmetic Series

In [ ]:
#hint a+(n-1)d
first=int(input("enter the nomber :"))
second=int(input("enter the nomber :"))
d=second-first
formula=first+(n-1)*d
print(formula)

### fraction program

In [ ]:
first=int(input("enter the nomber :"))
second=int(input("enter the nomber :"))
fraction=first/second
print(fraction)

In [ ]:
hight=int(input("enter the nomber :"))
weight=int(input("enter the nomber :"))
lenght=int(input("enter the nomber :"))
glass_hight=float(input("enter the nomber :"))
glass_radius=float(input("enter the nomber :"))


milk_tank=hight*weight*lenght
glass_tank=3.14*glass_radius*glass_radius*glass_hight

volume =milk_tank/glass_tank
print(volume)

### Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:
Salary(Lakhs) : Tax(%)

Below 5 : 0%
5-10 : 10%
10-20 : 20%
aboove 20 : 30%

In [ ]:
ctc=int(input("enter the pakachge :"))
# hra+da+pf=100
#10+5+3=82
if ctc<500000:
    salary=ctc*.82
elif ctc<100000:
    salary=ctc*.72
elif ctc<2000000:
    salary=ctc*.62
else:
    salary=ctc*.42
    
print("You in hand monthly salary ",round(salary/ 12,2))

In [ ]:
A=int(input("enter the nomber :"))
B=int(input("enter the nomber :"))
C=int(input("enter the nomber :"))
if (A+B+C)==180 and A>0 and B>0 and C>0:
    print("form a triangle :")
else:
    print("Not a triangle")

In [ ]:
cost_price=float(input("enter the nomber :"))
selling_price=float(input("enter the nomber :"))
if cost_price>selling_price:
    print("profit")
elif cost_price<selling_price:
    print("loss")
else:
    print("no loss and no profit")

In [ ]:
a=input(""""
1.cm to ft
2.km to miles
3.USD to INR
4.exit""")


if a=='1':
    cm=float(input("Enter the values :"))
    print("Centimeter to feet",cm/12)
elif a=='2':
    km=float(input("Enter the kilometre"))
    print("kilometer to miles ",km*0.62)
elif a=='3':
    usd=float(input("Enter the dollar"))
    print("Dollar to rupees",usd*80)
else :
        print("Exit")

## Display Fibonacci series up to 10 terms.

In [ ]:
n=int(input("enter the nomber :"))
a=0
b=1
c=0
while (c<=n):
    print(c)
    a=b
    b=c
    c=a+b

In [ ]:
a,b=0,1
for i in range(10):
    print(a)
    next=a+b
    a=b
    b=next

In [ ]:
a,b=0,1
for i in range(int(input("enter the nomber :"))):
    print(a)
    c=a+b
    a=b
    b=c

In [ ]:
n=int(input("Enter the nomber :"))
f=1
while (n>0):
    f=f*n
    n=n-1

    
print(f)

In [ ]:
n=int(input("enter the nomber :"))
f=1
for i in range(1,n+1):
    f=f*i
    
    
print(f)

In [ ]:
n=int(input("Enter the nomber "))
s=0
while (n>0):
    r=n%10
    s=s*10+r
    n=n//10
print(s)

In [ ]:
x = input("enter a number: ")

i = 0

for char in reversed(x):
    i = i*10 + int(char)

print(i)

In [ ]:
n= int(input("enter a number: "))
s=0
while n>0:
    r=n%10
    s=r+s
    n=n//10
    print(s,end='')
    
print(" sum  :",s)

In [ ]:
n=int(input("enter the nomber"))
s=0
while n>0:
    r=n%10
    s=r+s*10
    n=n//10
    print(s,end=' ')
   
print("sum =",s)